<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.school.dao.EmpMapper" >
  <resultMap id="BaseResultMap" type="com.school.entity.Emp" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="WORKING_AGE" property="workingAge" jdbcType="INTEGER" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="SALARY" property="salary" jdbcType="DOUBLE" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, WORKING_AGE, ADDRESS, SALARY
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_emp
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_emp
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.school.entity.Emp" >
    insert into t_emp (ID, NAME, WORKING_AGE, 
      ADDRESS, SALARY)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{workingAge,jdbcType=INTEGER}, 
      #{address,jdbcType=VARCHAR}, #{salary,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.school.entity.Emp" >
    insert into t_emp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="workingAge != null" >
        WORKING_AGE,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="salary != null" >
        SALARY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="workingAge != null" >
        #{workingAge,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        #{salary,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.school.entity.Emp" >
    update t_emp
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="workingAge != null" >
        WORKING_AGE = #{workingAge,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="salary != null" >
        SALARY = #{salary,jdbcType=DOUBLE},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.school.entity.Emp" >
    update t_emp
    set NAME = #{name,jdbcType=VARCHAR},
      WORKING_AGE = #{workingAge,jdbcType=INTEGER},
      ADDRESS = #{address,jdbcType=VARCHAR},
      SALARY = #{salary,jdbcType=DOUBLE}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>